.footer {
  .footer-inner {
    position: relative;
    z-index: 1;

    .footer-list {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        a {
          display: block;
          text-decoration: none;
          padding: $spacer * 0.3 0;
          color: $gray-600;
          transition: 0.3s;

          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
  .footer-patent {
    background-color: $primary;
  }
}
