.ui-decoration{
    width: 100%;
    position: relative;

    .ui-decoration-phone{
        width: 35%;
        margin: 0 auto;
        position: relative;
        z-index: 3;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        
        .ui-decoration-phone-frame{
            overflow: hidden;
            border-radius: 27px;
            width: 100%;
            padding-top: 177.7777778%;
            border: 10px solid $black;
            position: relative;
            background-color: $white;

            &::before{
                content: "";
                height: 10px;
                width: 10px;
                position: absolute;
                border-radius: 50%;
                top: 5px;
                left: 50%;
                transform: translateX(-50%);
                background-color: $black;
                z-index: 2;
            }

            img{
                position: absolute;
                top: 0;
                left: -1px;
                // transform: translateX(-50%);
                width: calc(100% + 2px);
            }
        }
    }

    .ui-decoration-elements{
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        z-index: 1;
        width: 55%;

        .ui-decoration-elements-circle{
            width: 100%;
            padding-top: 100%;
            position: relative;
            height: 0 !important;
            
            .ui-decoration-elements-circle-inner{
                position: absolute;
                top: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border: 5px dotted $primary;
                animation-name: spin-elements;
                animation-duration: 20s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }

            .ui-decoration-elements-circle-item{
                position: absolute;
                left: -20px;
                bottom: -20px;
                width: calc(100% + 40px);
                height: calc(100% + 40px);

                .ui-decoration-elements-circle-item-inner{
                    position: absolute;
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    color: $white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    line-height: 1;
                    font-size: 21px;

                    &:nth-child(1){
                        top: 0;
                        left: 0;
                    }

                    &:nth-child(2){
                        top: 50%;
                        transform: translateY(-50%);
                        left: -40px;
                    }

                    &:nth-child(3){
                        bottom: 0;
                        left: 0;
                    }

                    &:nth-child(4){
                        top: 0;
                        right: 0;
                    }

                    &:nth-child(5){
                        top: 50%;
                        transform: translateY(-50%);
                        right: -40px;
                    }

                    &:nth-child(6){
                        bottom: 0;
                        right: 0;
                    }
                }
            }
        }
    }
}

@keyframes spin-elements {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}